<h1>RailsJskit</h1>
<div id="output">
  <dl>
    <dt>ApplicationController#all</dt>
    <dd id="application-controller-all"></dd>

    <dt>Pages Controller#all</dt>
    <dd id="pages-controller-all"></dd>

    <dt>PagesController#index</dt>
    <dd id="pages-controller-index"></dd>
  </dl>
</div>

<div id="source">
  <div class="vertical-tabs-container">
    <div class="vertical-tabs">
      <a href="javascript:void(0)" class="js-vertical-tab vertical-tab is-active" rel="tab1">application.js</a>
      <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab2">application.html.erb</a>
      <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab3">application_controller.rb</a>
      <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab4">pages_controller.rb</a>
      <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab5">application_controller.js</a>
      <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab6">pages_controller.js</a>
    </div>

    <div class="vertical-tab-content-container">
      <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active" rel="tab1">application.js</a>
      <div id="tab1" class="js-vertical-tab-content vertical-tab-content">
<%= highlight_syntax :js do %>
// app/assets/javascripts/application.js

//= require lodash
//= require jquery
//= require jquery_ujs
//= require rails_jskit
//= require_tree ./controllers
<% end %>
      </div>


      <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab2">application.html.erb</a>
      <div id="tab2" class="js-vertical-tab-content vertical-tab-content">
<%= highlight_syntax :erb do %>
<!-- app/views/layouts/application.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>RailsJskit Example</title>
  <%%= stylesheet_link_tag 'application', media: 'all' %>
  <%%= csrf_meta_tags %>
</head>
<body>
  <%%= yield %>
  <%%= javascript_include_tag 'application' %>
  <%%= jskit %>
</body>
</html>
<% end %>
      </div>

      <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab3">application_controller.rb</a>
      <div id="tab3" class="js-vertical-tab-content vertical-tab-content">
<%= highlight_syntax :rb do %>
# app/controllers/application_controller.rb

class ApplicationController < ActionController::Base
  protect_from_forgery with: :exception
  before_action :jskit_app_payload

  def jskit_app_payload
    set_app_payload("Hello from the ApplicationController")
  end
end
<% end %>
      </div>

      <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab4">pages_controller.rb</a>
      <div id="tab4" class="js-vertical-tab-content vertical-tab-content">
<%= highlight_syntax :rb do %>
# app/controllers/pages_controller.rb

class PagesController < ApplicationController
  before_action :jskit_controller_payload

  def index
    set_action_payload("Hello from PagesController#index")
  end

  private

  def jskit_controller_payload
    set_controller_payload("Hello from PagesController#all")
  end
end
<% end %>
      </div>

      <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab5">application_controller.js</a>
      <div id="tab5" class="js-vertical-tab-content vertical-tab-content">
<%= highlight_syntax :js do %>
// app/assets/javascripts/controllers/application_controller.js

App.createController("Application", {
  elements: {
    all: {
      allMessageContainer: "#application-controller-all"
    }
  },

  all: function(message) {
    this.$allMessageContainer.text(message);
  }
});
<% end %>
      </div>

      <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab6">pages_controller.js</a>
      <div id="tab6" class="js-vertical-tab-content vertical-tab-content">
<%= highlight_syntax :js do %>
// app/assets/javascripts/controllers/pages_controller.js

App.createController("Pages", {
  actions: ["index"],

  elements: {
    all: { allMessageContainer: "#pages-controller-all"} ,
    index: { indexMessageContainer: "#pages-controller-index" }
  },

  all: function(message) {
    this.$allMessageContainer.text(message);
  },

  index: function(message) {
    this.$indexMessageContainer.text(message);
  }
});
<% end %>
      </div>
    </div>
  </div>
</div>
